{% include head.html %}
<section class="page-header home">
  <img class="logo" src="/assets/images/gaymers-logo.png" alt="Gaymers Logo">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

  <a href="https://discord.gg/gaymers" class="discord-button">Join us on Discord</a>
</section>

<section class="main-content">
  {{ content }}
</section>

{% include footer.html %}
